@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.25;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}

@keyframes circleSpin {
    0% {
        transform: translate(-10px, -10px);
    }

    25% {
        transform: translate(-100px, 20px);
    }

    50% {
        transform: translate(-130px, 80px);
    }

    75% {
        transform: translate(-10px, 90px);
    }

    to {
        transform: translate(-10px, -10px);
    }
}

@keyframes arrows {
    0% {
        border-left: 6px solid rgba(0, 0, 0, 0);
        border-bottom: 6px solid rgba(0, 0, 0, 0);
        transform: translate(-12px, 0)rotate(-135deg);
    }

    10%,
    90% {
        border-left: 6px solid rgba(0, 0, 0, 0);
        border-bottom: 6px solid rgba(0, 0, 0, 0);
    }

    50% {
        border-left: 6px solid rgba(0, 0, 0, $peakopacity);
        border-bottom: 6px solid rgba(0, 0, 0, $peakopacity);
        transform: translate(0, 0px)rotate(-135deg);
    }

    100% {
        border-left: 6px solid rgba(0, 0, 0, 0);
        border-bottom: 6px solid rgba(0, 0, 0, 0);
        transform: translate(12px, 0)rotate(-135deg);
    }
}

@keyframes arrows2 {
    0% {
        border-left: 6px solid rgba(0, 0, 0, 0);
        border-bottom: 6px solid rgba(0, 0, 0, 0);
        transform: translate(12px, 0)rotate(45deg);
    }

    10%,
    90% {
        border-left: 6px solid rgba(0, 0, 0, 0);
        border-bottom: 6px solid rgba(0, 0, 0, 0);
    }

    50% {
        border-left: 6px solid rgba(0, 0, 0, $peakopacity);
        border-bottom: 6px solid rgba(0, 0, 0, $peakopacity);
        transform: translate(0, 0px)rotate(45deg);
    }

    100% {
        border-left: 6px solid rgba(0, 0, 0, 0);
        border-bottom: 6px solid rgba(0, 0, 0, 0);
        transform: translate(-12px, 0)rotate(45deg);
    }
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }

    100% {
        --rotate: 360deg;
    }
}

@keyframes bgCity {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}