.common-content {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.pt-100 {
    padding-top: 8rem;
}

.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

$size: 26px;
$speed: 1.5s;
$peakopacity: 0.7;