@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/NotoSansKR-Thin.woff2) format("woff2"), url(../fonts/NotoSansKR-Thin.woff) format("woff"), url(../fonts/NotoSansKR-Thin.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/NotoSansKR-Light.woff2) format("woff2"), url(../fonts/NotoSansKR-Light.woff) format("woff"), url(../fonts/NotoSansKR-Light.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NotoSansKR-Regular.woff2) format("woff2"), url(../fonts/NotoSansKR-Regular.woff) format("woff"), url(../fonts/NotoSansKR-Regular.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/NotoSansKR-Medium.woff2) format("woff2"), url(../fonts/NotoSansKR-Medium.woff) format("woff"), url(../fonts/NotoSansKR-Medium.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/NotoSansKR-Bold.woff2) format("woff2"), url(../fonts/NotoSansKR-Bold.woff) format("woff"), url(../fonts/NotoSansKR-Bold.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/NotoSansKR-Black.woff2) format("woff2"), url(../fonts/NotoSansKR-Black.woff) format("woff"), url(../fonts/NotoSansKR-Black.otf) format("opentype");
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  font-size: 62.5%;
  font-family: "Noto Sans KR", sans-serif;
}

a {
  font-weight: 500;
  transition: color 0.3s;
  text-decoration: none;
}

.common-content {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}
.default {
  position: relative;
}

.head.night {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 6rem;
  border-bottom: 1px solid #afafaf;
  background-color: #1b2738;
}
.head.night .nav:before {
  background-color: #1b2738;
  border-color: #1b2738;
}
.head.night .nav-night-mask {
  opacity: 0;
}
.head .nav {
  width: 100%;
  height: 6rem;
  transition: transform 0.3s 0.7s;
  transform: translateY(0);
}
.head .nav:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition-duration: 0.3s;
  transition-property: background-color, border-color;
  border-bottom: 1px solid rgba(8, 10, 50, 0.08);
}
.head .nav-night-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
}
.head .nav-content {
  z-index: 10;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  height: 100%;
}
.head .nav-content .nav-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}
.head .nav-content .nav-logo img {
  width: 12rem;
}
.head .nav-content .nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.head .nav-content .nav-list .nav-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.4rem;
  font-family: Helvetica, sans-serif;
  height: 100%;
  margin-left: 4rem;
}
.head .nav-content .nav-list .nav-item:first-child {
  margin-left: 0;
}
.head .nav-content .nav-list .nav-item a {
  color: rgba(255, 255, 255, 0.6);
}
.head .nav-content .nav-list .nav-item a:hover {
  color: #5b8ff9;
}
.head .nav-content .nav-list .nav-item.active a {
  color: #fff;
}
.head .nav-content .nav-list .nav-item.connect a, .head .nav-content .nav-list .nav-item.wallet a {
  display: block;
  color: #fff;
  padding: 0.8rem 1.2rem;
  border: 2px solid #fff;
  border-radius: 2rem;
  transition: all 0.3s;
  background: linear-gradient(45deg, #fff 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
}
.head .nav-content .nav-list .nav-item.connect a:hover, .head .nav-content .nav-list .nav-item.wallet a:hover {
  color: #0C232D;
  background-position: 0 0;
}
.head .nav-content .nav-list .nav-item.wallet {
  margin-left: 2rem;
}
.head .nav-content .nav-list .nav-item.wallet a {
  background: linear-gradient(45deg, #1d97c7, #5178f0 53%, #875ff3);
}

.bridge {
  position: relative;
  width: 100%;
  height: calc(200vh + 144px);
}
.bridge .be-sub {
  position: absolute;
  top: 500px;
  left: 0;
  right: 0;
  bottom: calc(100vh - 560px);
  z-index: 1;
}
.bridge .be-content {
  position: sticky;
  top: 60px;
  height: calc(100vh - 60px);
}
.bridge .be-content .be-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
  background-color: #1b2738;
}
.bridge .be-content .be-bg-mountain {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../images/main_bg.jpg") no-repeat bottom;
  background-size: 2560px auto;
}
.bridge .be-content .be-bg-backlight {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -28rem;
  background: url("../images/backlight.svg") no-repeat bottom;
  background-size: 1440px auto;
}
.bridge .be-content .be-bg-sky {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50rem;
}
.bridge .be-content .be-bg-sky .be-bg-sky-star {
  position: absolute;
  bottom: 100%;
  width: 81px;
  height: 76px;
  background: url("../images/icon_star.svg") no-repeat;
  background-size: 100%;
}
.bridge .be-content .be-bg-sky .be-bg-sky-star.star1 {
  right: 0;
  animation: shooting-star-1 8s ease-in 2s infinite;
}
.bridge .be-content .be-bg-sky .be-bg-sky-star.star2 {
  right: 30%;
  animation: shooting-star-1 8s ease-in 7s infinite;
}
.bridge .be-content .be-bg-sky .be-bg-sky-star.star3 {
  right: 50%;
  animation: shooting-star-1 8s ease-in 5s infinite;
}
.bridge .be-content .be-bg-sky .be-bg-sky-star.star4 {
  right: 70%;
  animation: shooting-star-1 8s ease-in 7s infinite;
}
.bridge .be-content .be-bg-plane-1 {
  position: absolute;
  bottom: 53.7rem;
  left: 50%;
  width: 14.5rem;
  height: 0.8rem;
  background: url("../images/plane1.png") no-repeat;
  background-size: 100% auto;
  animation: move-plane-1 15s linear infinite;
}
.bridge .be-content .be-bg-plane-2 {
  position: absolute;
  bottom: 47rem;
  right: 50%;
  width: 8.5rem;
  height: 1.5rem;
  background: url("../images/plane2.png") no-repeat;
  background-size: 100% auto;
  animation: move-plane-2 30s linear infinite;
}
.bridge .be-content .be-bg-lamp-box {
  position: absolute;
  width: 4.5rem;
  height: 66rem;
  bottom: 9.4rem;
  left: 50%;
  transform: translateX(-235px);
}
.bridge .be-content .be-bg-lamp-box .be-bg-lamp {
  width: 100%;
  height: 100%;
  background: url("../images/lamp.svg") no-repeat;
  background-position: 100%;
  transform-origin: bottom center;
}
.bridge .be-content .be-bg-city {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: 2560px auto;
  background-position: bottom;
  background-repeat: no-repeat;
}
.bridge .be-content .be-bg-city-night {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.bridge .be-content .be-bg-city-night > div {
  position: absolute;
  top: 0;
  left: 0%;
  right: 0;
  bottom: 0;
}
.bridge .be-content .be-bg-city-night .build {
  background: url("../images/city1.gif") no-repeat;
  background-position: bottom;
  background-size: 2560px auto;
}
.bridge .be-content .be-bg-city-night .window {
  background: url("../images/city2.png") no-repeat;
  background-position: bottom;
  background-size: 2560px auto;
}
.bridge .be-content .be-bg-city-night .light {
  background: url("../images/city3.png") no-repeat;
  background-position: bottom;
  background-size: 2560px auto;
}
.bridge .be-content .be-bg-city-night .flash {
  background: url("../images/city4.png") no-repeat;
  background-position: bottom;
  background-size: 2560px auto;
}

.section {
  position: relative;
}
.section-intro {
  width: 100%;
  height: 200vh;
  overflow: hidden;
}
.section-intro .vertical-centered-box {
  z-index: -2;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}
.section-intro .vertical-centered-box:after {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
.section-intro .vertical-centered-box .content {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  font-size: 0;
}
.section-intro #particles-background,
.section-intro #particles-foreground {
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  transform: scale3d(0.5, 0.5, 1);
}
.section-intro #particles-background {
  background: #2c2d44;
  background-image: linear-gradient(45deg, #3f3251 2%, #002025 100%);
}
.section-intro .common-content {
  top: 12rem;
  left: 2rem;
}
.section-intro .common-content .title-wrap .title {
  display: flex;
  align-items: center;
}
.section-intro .common-content .title-wrap .title h3 {
  font-size: 8rem;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 1px #ffff;
  background: url("../images/back.png");
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
}
.section-intro .common-content .title-wrap .title .cross {
  position: relative;
  width: 5.6rem;
  height: 5.6rem;
  margin-left: 2.4rem;
  margin-right: 1.2rem;
  transform: rotate(45deg);
}
.section-intro .common-content .title-wrap .title .cross:before {
  content: "";
  position: absolute;
  left: 50%;
  width: 3px;
  height: 100%;
  background: #fff;
  transform-origin: center center;
  transform: translateX(-50%);
}
.section-intro .common-content .title-wrap .title .cross:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transform-origin: center center;
  transform: translateY(-50%);
}
.section-intro .common-content .title-wrap p {
  line-height: 1.4;
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;
  margin: 2.4rem 0;
}
.section-intro .common-content .title-map {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 2.4rem 3.2rem;
  border-radius: 2rem;
  border: 1px solid #ccc;
  background: rgba(28, 40, 56, 0.7);
}
.section-intro .common-content .title-map-content {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 400;
}
.section-intro .common-content .title-map-content i {
  margin-right: 0.4rem;
}
.section-intro .common-content .title-map-line {
  width: 2.2rem;
  height: 0.1rem;
  background-color: #fff;
  margin: 0 1rem;
}
.section-intro .common-content .action {
  display: inline-block;
  margin-top: 3rem;
}
.section-intro .common-content .action a {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;
  padding: 1.2rem 4.8rem 1.2rem 2.4rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: #151f2c;
}
.section-intro .common-content .action a:after {
  content: "";
  position: absolute;
  right: 2.4rem;
  width: 1.6rem;
  height: 1.2rem;
  background: url("../images/icon_arrow.png") no-repeat;
  background-size: 100%;
  transition: all 0.3s;
}
.section-intro .common-content .action a:hover:after {
  right: 1.8rem;
}
.section .intro-mask-2 {
  position: absolute;
  top: 100vh;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  opacity: 0;
}
.section .intro-mask-2 .common-content {
  display: flex;
}
.section .intro-mask-2 .intro-mask-content {
  width: 50%;
  padding: 0 12rem;
  color: #0C232D;
  box-sizing: border-box;
}
.section .intro-mask-2 .intro-mask-content h3 {
  font-size: 4.8rem;
  font-weight: 900;
  letter-spacing: -1.5px;
}
.section .intro-mask-2 .intro-mask-content p {
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 2rem;
}

/*# sourceMappingURL=style.css.map */
